*{margin: 0; padding: 0;}
li{
  list-style: none;
}
#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
}
.app{
  width: 360px;
  height: 80vh;
  min-height: 60vh;  /* 화면 높이의 최소 60% */
  max-height: 90vh;  /* 화면 높이의 최대 90% */
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.22);
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

/* 메인 화면 */
.home{
  height: 100%;
  background-color: #8B6FDF;
  border-radius: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home>h1{
  padding-bottom: 100px;
}
.btn-box{
  width: 250px;
  height: 280px; 
  margin-top: 50px;
  padding: 20px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.btn-box>button{
  padding: 10px 50px;
  margin: 10px 0;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: #493A75;
  color: #fff;
  cursor: pointer;
}

/* 퀴즈 리스트 */
.detail-list,
.learning,
.result{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #03000F;
  border-radius: 15px;
}
.detail-list>h2{
  padding-top: 50px;
}
.detail-list>ul{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  /* padding: 50px 0; */
  border-radius: 5px;
  text-align: start;
}
.detail-list>ul>li{
  margin: 30px 0;
}
.list-btn>button,
.quiz-btn>button,
.result>button{
  margin: 20px;
  background-color: #8B6FDF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.list-btn>button{
  padding: 10px 30px;
}
.learning{
  position: relative;
}
.bar-container{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 7px;
  margin: 0 auto;
  background-color: #303030;
  border-radius: 5px;
}
.bar{
  height: 7px;
  border-radius: 5px;
  background-color: #797979;
}
.quiz{
  height: 200px;
  padding-top: 80px;
}
.quiz>p:nth-child(1){
  color: #8B6FDF;
}
.quiz>p:nth-child(2){
  margin-top: 20px;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
}
.learning>input{
  width: 250px;
  height: 30px;
  margin: 30px;
  background-color: #03000F;
  border: none;
  border-bottom: 3px solid #8B6FDF;
  outline: none;
  font-size: 20px;
  color: #fff;
}

.quiz-btn>button:nth-of-type(1),
.result>button{
  display: block;
  padding: 10px 60px;
  margin: 0 auto;
}
.quiz-btn>button:nth-of-type(2),
.quiz-btn>button:nth-of-type(3){
  background-color: #03000F;
  padding: 20px;
}

/* 결과 */
.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result>h2{
  margin: 20px 0;
}
.result>img{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  /* margin-bottom: 130px; */
}

/* 반응형 */
@media (max-width: 600px) {
  .app {
    width: 100%;  /* 화면 크기에 맞춰 너비를 100%로 설정 */
    height: 80vh;  /* 작은 화면에서는 80% 높이를 사용 */
  }

  .home {
    padding: 20px;  /* 작은 화면에서 패딩을 줄여서 공간을 최적화 */
  }
}